.admin-panel{
    border: 10px;
    padding: 5%;
}

.player-add-form, .remove-input{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.single-input{
    flex: 1;
    padding: 10px;
    height: 100px;
    /* width: 100%; */
}

.player-remove, .player-form, .player-list{
    padding:20px;
}

.player-list, th, td{
    padding:20px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid black;
    border-collapse: collapse;
}
